.range-item {

    input[type='range'] {
        width: 100%;
        background-color: #9a905d;
    }

    div {
        span {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
    }
}
